/* _content/PortfolioShared/Pages/3D.razor.rz.scp.css */
body[b-djxkr4n6aa] {
    background-color: red !important;
}
/* _content/PortfolioShared/Shared/MainLayout.razor.rz.scp.css */
.mud-overlay[b-hm9so6jmsx] {
    background-color: red;
    height: 100vh;
}
